-e "{\n  \"root\": true,\n  \"extends\": [\n    \"standard\",\n    \"prettier\",\n    \"prettier/react\",\n    \"eslint:recommended\",\n    \"plugin:react/recommended\",\n    \"plugin:flowtype/recommended\"\n  ],\n  \"plugins\": [\n    \"react\",\n    \"prettier\",\n    \"flowtype\"\n  ],\n  \"parser\": \"babel-eslint\",\n  \"parserOptions\": {\n    \"ecmaVersion\": 2016,\n    \"sourceType\": \"module\",\n    \"ecmaFeatures\": {\n      \"jsx\": true\n    }\n  },\n  \"env\": {\n    \"browser\": true,\n    \"commonjs\": true,\n    \"node\": true,\n    \"es6\": true,\n    \"jest\": true,\n    \"mocha\": true\n  },\n  \"settings\": {\n    \"flowtype\": {\n      \"onlyFilesWithFlowAnnotation\": true\n    }\n  },\n  \"rules\": {\n    \"no-console\": 1,\n    \"prettier/prettier\": [\n      \"error\",\n      {\n        \"semi\": false\n      }\n    ]\n  }\n}" 
